.subtitle {
  width: 100%;
  color: #fff;
  position: absolute;
  bottom: 56px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
  font-size: 20px;
}

.version {
  max-width: 300px;
  color: #fff;
  position: absolute;
  right: 16px;
  top: 16px;
  font-family: var(--font-mono);
}
