.computer {
  .container {
    width: 1580px;
    height: 1380px;
    background-color: rgb(62, 150, 151);
    position: relative;

    .bottomBar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: rgb(195, 198, 202);
      border-top: 1px solid rgb(195, 198, 202);
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4px;
      color: #000;

      .bottomBarContainer {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 4px;
        border-top: 1px solid rgb(255, 255, 255);
        font-size: 18px;
        gap: 16px;
        width: fit-content;
        padding: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0)
          rgb(255, 255, 255);

        img {
          image-rendering: pixelated;
          width: 28px;
          height: 28px;
        }
      }

      .bottomBarSound {
        width: 150px;
        display: flex;
        border-style: solid;
        border-color: rgb(134, 137, 141) rgb(255, 255, 255) rgb(255, 255, 255)
          rgb(134, 137, 141);
        padding-left: 4px;
        padding-right: 4px;
        border-width: 1px;
        font-size: 16px;
        align-items: center;
        gap: 8px;
        padding: 4px;

        img {
          image-rendering: pixelated;
          width: 28px;
          height: 28px;
        }
      }

      .bottomBarTabContainer {
        width: 100%;
        padding: 4px;

        .bottomBarTab {
          border-width: 1px;
          border-style: solid;
          border-color: rgb(0, 0, 0) rgb(255, 255, 255) rgb(255, 255, 255)
            rgb(0, 0, 0);
          width: 400px;

          .bottomBarTabBackground {
            display: flex;
            align-items: center;
            gap: 8px;
            background-image: linear-gradient(45deg, white 25%, transparent 25%),
              linear-gradient(-45deg, white 25%, transparent 25%),
              linear-gradient(45deg, transparent 75%, white 75%),
              linear-gradient(-45deg, transparent 75%, white 75%);
            background-size: 4px 4px;
            background-position: 0px 0px, 0px 2px, 2px -2px, -2px 0px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(134, 137, 141) rgb(195, 198, 202)
              rgb(195, 198, 202) rgb(134, 137, 141);
            padding: 4px;
          }
        }
      }
    }
  }
}
