.menu {
  position: absolute;

  left: 0;
  top: 0;
  margin: auto;
  padding: 20px;
  z-index: 99;

  font-family: monospace;
  font-weight: 400;
  font-style: normal;
  color: #aaa;
  font-size: 16px;
  color: rgb(206, 123, 0);

  pre {
    font-size: 10px;
    margin-bottom: 24px;
  }
}
